streamlit
replicate
spacy
transformers 
rank_bm25 
sentence-transformers 
tqdm
pymongo
openai

https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz